---
import Main from "../layouts/Main.astro";
---

<Main>
    <script>
        import { POSTreq_Iframe } from "postreq";
        new POSTreq_Iframe();
    </script>

    <h1>POSTreq Iframe</h1>
    <p class="debug"></p>
</Main>
